[Unit]
Description=Record video from camera
After=network.target auditd.service

[Service]
TimeoutStartSec=5
Restart=always
RestartSec=2
Type=notify
User=zurikato
Group=zurikato
Environment="FILENAME_FORMAT=%%Y-%%m-%%d_%%H-%%M-%%S"
ExecStart=/usr/bin/ffmpeg -rtsp_flags prefer_tcp -i "rtsp://192.168.1.16:554/user=admin&password=&channel=1&stream=1.sdp" -acodec copy -vcodec copy -f hls -hls_time 30 -hls_list_size 3200 -hls_flags append_list+delete_segments -use_localtime 1 -hls_segment_filename "/home/zurikato/video-backup/${FILENAME_FORMAT}_hls.ts" /home/zurikato/video-backup/playlist.m3u8

[Install]
WantedBy=multi-user.target
Alias=recordvideo.service